VITE_API_URL=http://localhost:5000/api
VITE_DEMO_ADMIN_EMAIL=admin@smartstock.local
VITE_DEMO_ADMIN_PASSWORD=Admin123!
VITE_DEMO_MANAGER_EMAIL=manager@smartstock.local
VITE_DEMO_MANAGER_PASSWORD=Manager123!
VITE_DEMO_CASHIER_EMAIL=cashier@smartstock.local
VITE_DEMO_CASHIER_PASSWORD=Cashier123!
VITE_DEMO_CASHIER2_EMAIL=cashier2@smartstock.local
VITE_DEMO_CASHIER2_PASSWORD=Cashier123!
VITE_DEMO_INVENTORY_EMAIL=inventory@smartstock.local
VITE_DEMO_INVENTORY_PASSWORD=Inventory123!
